@{
  Layout="_Layout";
}

<div class="text-center">
    
    <p>Type a Topping</p>
    <form action="/Topping/AddTopping" method="post">
         <label for="Topping">Topping:</label><br> <input type="text" id="name" name="name" pattern="[A-Za-z]+">
         <br>
         
          <button type="submit">Submit</button>

       
    </form>

</div>