
@{
  Layout="_Layout";
}

<div class="text-center">
    <h4 >Custom Pizza</h4>
    <p>Please choose your Toppings</p><br>
    <p>Include at least two toppings and at most five toppings</p>

    <form action="/Topping/CustomTopping" method="post">
     @foreach (var t in ViewBag.toppings)
     
      {
        <br>
        <label><input type="checkbox" name="List" value="@t">@t</label>
      }
      <br><br>
    <button type="submit">Submit Toppings</button>
    
    </form>
    <p> 
</div>