@{
  Layout="_Layout2";
}

<form action="/crust/create" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" > 

  <label for="cost">Price</label>
  <input type="number" id="cost" name="cost">

<fieldset name="checkbox">
    <label><input type="checkbox" name="bread" value="baked">Baked</label>
    <label><input type="checkbox" name="bread" value="toasted">Toasted</label>
</fieldset>

<fieldset name="radiobutton">
    <label><input type="radiobutton" name="oven" value="Brick">Brick</label>
    <label><input type="radiobutton" name="oven" value="Coal">Coal</label>
</fieldset>
  <button type="submit">Add crust</button>

</form>