
@{
    Layout="_Layout2";
}

<div class="text-center">
    <h1 >Welcome to PizzaBox 2</h1>
    <br><br><br><br>
    <p> @Html.ActionLink("Display recent users", "ShowUsers", "Employee") </p>
    <p> @Html.ActionLink("Display recent orders", "ShowOrders", "Employee") </p>

</div>