
@{
    Layout="_Layout";
}

<div class="text-center">
    <h1 >Recent Users</h1>
    <br><br>
    @foreach (var l in Model)
      {
        <p>@l</p><br>
      }
      <br><br>
       
       
       <p> @Html.ActionLink("Back", "Index", "Employee") </p>

</div>

