
@{
    Layout="_Layout";
}

<div class="text-center">
    <h1 >Recent Orders</h1>
    <br><br>
    @foreach (var l in ViewBag.list)
      {
        <p> Order:</p>
        @foreach(var o in l)
        {
          <p>@o</p><br>
        }
      }
      <br><br>
       
       
       <p> @Html.ActionLink("Back", "Index", "Employee") </p>

</div>

