
@{
    Layout="_Layout";
}

<div class="text-center">
    <h1 >Welcome to PizzaBox 2</h1>
    <br><br><br><br>
    <p> @Html.ActionLink("Account information", "UserAccount", "User") </p>
    <p> @Html.ActionLink("Sign out", "Login", "User") </p>
</div>