@{
  Layout="_Layout";
}

<div class="text-center">
    
    <p>Add a size</p>
    <form action="/Size/AddSize" method="post">
         <label for="Size">Size:</label><br> <input type="text" id="name" name="name" pattern="[A-Za-z]+"> <br> 
         <label for="Size">Cost:</label><br> <input type="text" id="cost" name="cost" pattern="[0-9]+"> <br>
         <button type="submit">Submit</button>
    </form>

</div>