@model PizzaBox2.Domain.Models.Location

@{
    Layout="_Layout";
}

<div class="text-center">
    <h1>Location Information</h1>
    
    <ul>
      
        <li>@Model.Street &nbsp; @Model.City &nbsp; @Model.State</li>
    </ul>
     <p> @Html.ActionLink("Back", "Index", "Home") </p>
    
</div>