@model PizzaBox2.Domain.Models.Location

@{
    Layout="_Layout2";
}

<div class="text-center">
    <h1>Location Information</h1>
    
    <ul>
      
        <li>@Model.Street &nbsp; @Model.City &nbsp; @Model.State</li>
    </ul>
    
</div>