@{
  Layout="_Layout";
}

<div class="text-center">
    <h4 >Pizza Selection</h4>
    <p>Would you like a custom or a classic pizza?</p>
    <form action="/Pizza/CustomOrPreset" method="post">
        <label> <input type="radio" name= "Num" value="1"> Custom Pizza </label><br>
        <label> <input type="radio" name= "Num" value="2"> Classic Pizza </label><br>
        
        <button type="submit">Continue</button>
    </form>
    

    <p> 
</div>