@{
  Layout="_Layout";
}

<div class="text-center">
    <h4 >Classic Pizza Builder</h4>
   
    <p>Would you like to create another classic pizza?</p><br>
    <form action="/Preset/PresetComplete" method="post">
        <label> <input type="radio" name= "Num" value="1"> Yes </label><br>
        <label> <input type="radio" name= "Num" value="2"> No </label><br>
        
        <button type="submit">Continue</button>
    </form>
    

    
</div>