@{
  Layout="_Layout2";
}

<div class="text-center">
    <h4 >Custom Pizza</h4>
    <p>Please choose a crust</p>
    <form action="/Order/CustomCrust" method="post">
        <label> <input type="radio" name= "Name" value="Traditional"> Traditional </label>
        <label> <input type="radio" name= "Name" value="Thin"> Thin </label>
        <label> <input type="radio" name= "Name" value="Cheesy"> Cheesy </label>
        <button type="submit">Select Crust</button>
    </form>
    

    <p> 
</div>