@{
  Layout="_Layout2";
}

<div class="text-center">
    <h4 >Custom Pizza</h4>
    <p>Please choose a size</p>
    <form action="/Order/CustomSize" method="post">
        <label> <input type="radio" name= "SizeName" value="small"> Small </label>
        <label> <input type="radio" name= "SizeName" value="Medium"> Medium </label>
        <label> <input type="radio" name= "SizeName" value="Large"> Large </label>
        <button type="submit">Select size</button>
    </form>
    

    <p> 
</div>