
@{
  Layout="_Layout2";
}

<div class="text-center">
    <h4 >Custom Pizza</h4>
    <p>Please choose your Toppings</p>
    <form action="/Order/CustomTopping" method="post">
        <label> <input type="checkbox" name= "List" value="Pepperoni"> Pepperoni </label>
        <label> <input type="checkbox" name= "List" value="Sausage"> Sausage </label>
        <label> <input type="checkbox" name= "List" value="Ham"> Ham </label>
        <label> <input type="checkbox" name= "List" value="Bacon"> Bacon </label>
        <label> <input type="checkbox" name= "List" value="Green Peppers"> Green Peppers </label>
        <label> <input type="checkbox" name= "List" value="Red Peppers"> Red Peppers </label>
        <label> <input type="checkbox" name= "List" value="Onions"> Onions </label>
        <label> <input type="checkbox" name= "List" value="Pineapple"> Pineapple </label>
        <label> <input type="checkbox" name= "List" value="Spinach"> Spinach </label>
        <button type="submit">Submit Toppings</button>
    </form>
    

    <p> 
</div>