@{
  Layout="_Layout2";
}

<div class="text-center">
    <h4 >Order helper</h4>
    <p>Would you like to continue?</p>
    <form action="/Order/Index" method="post">
        <label> <input type="radio" name= "Num" value="1"> Yes </label>
        <label> <input type="radio" name= "Num" value="2"> No </label>
        
        <button type="submit">Continue</button>
    </form>
    

    <p> 
</div>